* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: Tahoma, sans-serif;
  background: var(--nati-ui-color-neutral-0);
  color: var(--nati-ui-color-neutral-900);
}
